<div id="flash-messages">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert-flash-message alert-success">
            <button class="close-flash-message" data-dismiss="alert">&times;</button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert-flash-message alert-error">
            <button class="close-flash-message" data-dismiss="alert">&times;</button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert-flash-message alert-info">
            <button class="close-flash-message" data-dismiss="alert">&times;</button>
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
</div>