<div id="flash-messages" style="width:200px; margin: 0px auto">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">
            {{ flashMessage|trans|raw|nl2br }}
        </div>
    {% endfor %}
</div>